*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navbar{
    width: 1535px;
    /* border: 1px solid rgb(149, 117, 117); */
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #ff3044;
}
#navbar>div{
    /* border: 1px solid red; */
    width: 500px;
    display: flex;
    justify-content: space-between;
}
#navbar>img{
    width: 100px;
    height: 40px;
}
#navbar>div>h3{
    font-size: 23px;
    
}
#navbar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#container{
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 20px;
}
#container>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    height: 400px;
    overflow: scroll;
    padding: 20px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;

}
#container>div::-webkit-scrollbar{
    width: 3px;
    
}
#container>div::-webkit-scrollbar-track{
    visibility: hidden;
    background-color: yellow;
}
#container>div::-webkit-scrollbar-thumb{
    visibility: hidden;
    background-color: yellow;
    border-radius: 10px;
}
#container>div::-webkit-scrollbar-corner{
    visibility: hidden;
}
#container>div:hover{
    background-color: #ff3044;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    transition: transform 500ms ease-in-out 25ms;
}
#container img{
    width: 100%;
}